# /etc/supervisor/conf.d/tcp_server.conf
# and run `supervisorctl start tcp_server`.

[program:cot_server]
command = ruby {{ cot_dir }}/cot_server.rb -p {{ cot_port | default(8080) }} -a 0.0.0.0 -d
directory = {{cot_dir}}
autostart = true
autorestart = true
startretries = 3
stderr_logfile = {{cot_dir}}/cot_server.error
stdout_logfile = {{cot_dir}}/cot_server.log
user = {{cot_user}}
environment=USER={{cot_user}}


